@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: #f1f1f1 !important;
}

.main .sidebar .sidebarWapper{
  height: 100vh;
}

.main .sidebarWapper .sidebar{
  height: 100vh;
  background-color: #fff;
}

.main .sidebarWapper .sidebar .sidebarTabs ul li{
  width: 100%;
  list-style-type: none;
} 

.main .sidebarWapper .sidebar .sidebarTabs ul li button::before{
  display: none;
}

.main .sidebarWapper .sidebar .sidebarTabs ul li .submenu button::after{
  content: '';
  width: 5px;
  height: 5px;
  background: #615e5e;
  border-radius: 100%;
  position: absolute;
  top: 44%;
  left: 10%;
} 

.main .sidebarWapper .sidebar .sidebarTabs ul li .submenu button{
  padding: 4px 40px !important;
}
.main .sidebarWapper .sidebar .sidebarTabs ul li  button .arrow.rotate{
  transform: rotate(90deg);
}

.main .sidebarWapper .sidebar .sidebarTabs ul li  button .arrow{
  transition: all 0.3s;
}

.main .sidebarWapper .sidebar .sidebarTabs ul li{
  position: relative;
}

.main .sidebarWapper .sidebar .sidebarTabs ul li .submenu{
  position: relative;
  top: 100%;
  left: 0px;
  height: 0 ;
  opacity: 0;
  overflow: hidden;
  transition: all .3s;
}
.main .sidebarWapper .sidebar .sidebarTabs ul li.colapse .submenu{
  height: auto;
  opacity: 1;
  overflow: inherit;
  padding: 10px 0;
}